@model IEnumerable<Music_App.Models.Music>

@{
    ViewData["Title"] = "Database";
}

<h1>Database</h1>

<p>
    <a asp-action="Create">Add song to database</a>
    <a asp-action="Index">Back to Index</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackLength)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackArtist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackLength)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackId">Edit</a> |
                <form asp-action="Delete" method="post" asp-route-id="@item.TrackId" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline;">
                    <button type="submit" style="font-size: 12px; height: 25px; background-color: red; border: 1px solid #000; border-radius: 5px;">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>