@model IEnumerable<Music_App.Models.Music>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackArtist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackLength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackArtist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackLength)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackId">Edit</a> |
                <form asp-action="Delete" method="post" asp-route-id="@item.TrackId" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
