@model IEnumerable<Music_App.Models.Music>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<nav style="margin-bottom: 10px;">
    <a class="btn btn-secondary" asp-action="Database">Database</a>
    <a class="btn btn-secondary" asp-controller="Playlists" asp-action="Index">Playlists</a>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackArtist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackLength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackArtist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackLength)
            </td>
            <td>
                <button type="button" style="font-size: 12px; height: 25px; background-color: green; border: 1px solid #000; border-radius: 5px; margin-right: 15px;"
                        onclick="playAudio(@item.TrackId)">Play</button>
                <button type="submit" style="font-size: 12px; height: 25px; background-color: mediumblue; border: 1px solid #000; border-radius: 5px;"><a asp-action="Edit" asp-route-id="@item.TrackId" style="color:floralwhite;">Edit</a></button> |
                <form asp-action="Delete" method="post" asp-route-id="@item.TrackId" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline;">
                    <button type="submit" style="font-size: 12px; height: 25px; color:floralwhite; background-color: red; border: 1px solid #000; border-radius: 5px;">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <p>Playing: <span id="trackInfo"></span></p>
</div>
<button class="btn btn-outline-secondary" onclick="rewindAudio()"><<</button>
<button class="btn btn-outline-secondary" onclick="pauseAudio()">Pause</button>
<button class="btn btn-danger" onclick="stopAudio()">Stop</button>
<button class="btn btn-outline-secondary" onclick="forwardAudio()">>></button>
<button class="btn btn-outline-secondary" onclick="raiseAudio()">Vol up</button>
<button class="btn btn-outline-secondary" onclick="lowerAudio()">Vol dwn</button>
<div>
    <script>
            function playAudio(trackid) {
            fetch(`/play/${trackid}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === "Audio is playing") {
                        document.getElementById('trackInfo').innerText = `${data.trackTitle} by ${data.trackArtist}`;
                        console.log('Audio is playing');
                    } else {
                        console.error('Error: Audio could not be started');
                    }
                })
                .catch(err => console.error('Error:', err));
        }

            function stopAudio() {
            fetch('/stop', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    console.log('Audio stopped');
                    document.getElementById('trackInfo').innerText = '';  // Reset the track info when stopped
                }
            }).catch(err => console.error('Error:', err));
        }

            function pauseAudio() {
            fetch('/pause', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    console.log('Audio paused');
                }
            }).catch(err => console.error('Error:', err));
        }

            function rewindAudio() {
            fetch('/rewind', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    console.log('Audio rewound');
                }
            }).catch(err => console.error('Error:', err));
        }

            function forwardAudio() {
            fetch('/forward', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    console.log('Audio fast-forwarded');
                }
            }).catch(err => console.error('Error:', err));
        }
        
            function raiseAudio() {
                fetch('/up', {
                    method: 'POST'
                }).then(response => {
                    if (response.ok) {
                        console.log('Volume raised');
                    }
                }).catch(err => console.error('Error:', err));
            }
            
            function lowerAudio() {
                fetch('/down', {
                    method: 'POST'
                }).then(response => {
                    if (response.ok) {
                        console.log('Volume lowered');
                    }
                }).catch(err => console.error('Error:', err));
            }
    </script>
</div>